/* =Basic Styles
    ------------------------------------------------------ */

/*Images*/
.BVFeaturedReviewContainer img {display: block; max-width: 100%; width: 100%;}

/*Wrapper*/
.BVFRWContainer {background: #fff; border: 1px solid #ccc;}

/*ProductImage*/
.BVFRWProductImage {border-bottom: 1px solid #ccc;}

/*Header*/
.BVFRWContainerHeader {margin-bottom: 10px; padding: 0 10px; font-size: 16px;}
.BVFRWReviewTitle {margin-top: 20px; font-weight: bold;}
.BVFRWReviewTitle a {color: #333; text-decoration: none;}
.BVFRWReviewBy {font-style: italic;}
.BVFRWInlineReviewAuthor {margin-top: 6px; color: #333; font-size: 12px;}
.BVFRWInlineReviewAuthor .BVFRWReviewBy {margin-right: 4px;}

/*Typo*/
h2 {display: block; clear: both;}
h3 {border-bottom: none; color: #666; font-weight: bold;}
p {color: #aeaeae;}

/*MainContent*/
.BVFRWContent {padding: 0 10px; color: #666; font-size: 14px;}
.BVFRWReviewText {margin-top: 10px; line-height: 1.2;}
.BVFRWproductName {margin-top: 6px; color: #333; font-size: 12px; font-weight: bold;}
a.BVFRWReadMore {background: #333; display: block; height: 30px; padding: 0 10px; border-radius: 5px; margin-top: 10px; margin-bottom: 20px; color: #fff; font-size: 14px; font-weight: bold; line-height: 32px; text-align: center; text-decoration: none;}
a.BVFRWReadMore:hover {background: #999; text-decoration: underline;}
.BVFWRatingBackground {display: block; color: #AAA;}
.BVFWRatingWrapper {display: inline-block; position: relative; margin-bottom: 10px; font-size: 20px; font-family: 'BVCustom'; line-height: 1;}
.BVFRWRating {display: block; top: 0; position: absolute; color: #000;}


/*ClientContent*/
.clientSampleContainerLeftCol {margin-right: 30px; width: 366px; float: left;}
.clientContent {width: 330px; font-size: 14px; float: left;}
.clientRow {display: block; margin: 24px 0; overflow: hidden; clear: both;}
.ClientHero {height: 320px; margin: 0 auto; padding: 20px 0; width: 960px;}
.productleftsmall {float: left; width: 366px; margin-right: 30px;}
.productrightsmall {float: right; width: 366px; margin-left: 30px; overflow: hidden; position: relative;}
.productrightsmall .BVFRWContainerHeader, .productrightsmall .BVFRWContent {margin-bottom: 0; position: relative; z-index: 10; background-color: rgba(235, 231, 213, 0.7); overflow: hidden;}
.productrightsmall .BVFWRatingWrapper {margin-top: 14px;}
.productrightsmall img {position: absolute; width: 200px; z-index: 0;}
.productrightsmall .BVFRWProductImage {float: none; margin: 0; padding: 0; border: none;}

/* =OneThird
    ------------------------------------------------------ */
.BVFRoneThird .BVFeaturedReviewContainer {float: left; margin-right: 3.4%; width: 31%;}
.BVFRoneThird.last .BVFeaturedReviewContainer {margin-right: 0;}

/*Vertical No Image*/
.BVFRCNoImage .BVFRWProductImage {display: none;}


/* =Horizontal.Left Focused on Review Title
    ------------------------------------------------------ */

/*Wrapper*/
.BVFRCHorizontalLeft .BVFRWContainer {overflow: hidden;}

/*Header*/
.BVFRCHorizontalLeft .BVFRWReviewTitle {margin-top: 10px; font-size: 18px;}

/*ProductImage*/
.BVFRCHorizontalLeft .BVFRWProductImage {border-bottom: none; border-right: 1px solid #ccc; float: left; margin-right: 10px; width: 24%;}

/*MainContent*/
.BVFRCHorizontalLeft .BVFRWReviewText {display: none;}
.BVFRCHorizontalLeft a.BVFRWReadMore {float: left;}


/* =Horizontal.Right Focused on Review Title
    ------------------------------------------------------ */

/*Wrapper*/
.BVFRCHorizontalRight .BVFRWContainer {overflow: hidden;}

/*Header*/
.BVFRCHorizontalRight .BVFRWReviewTitle {margin-top: 10px; font-size: 18px;}

/*ProductImage*/
.BVFRCHorizontalRight .BVFRWProductImage {border-bottom: none; border-left: 1px solid #ccc; float: right; margin-left: 10px; width: 24%;}

/*MainContent*/
.BVFRCHorizontalRight .BVFRWReviewText {display: none;}
.BVFRCHorizontalRight a.BVFRWReadMore {float: left;}


/*BVCustom*/
@font-face {
    font-family: "BVCustom";
    font-style: normal;
    font-weight: normal;
    src: url("//display.ugc.bazaarvoice.com/static/colgate/Main Site/46/10936/en_US/images/bvcustom.eot?www.colgate.com#") format("embedded-opentype"), url("data:font/woff;charset=utf-8;base64,d09GRgABAAAAABYgABEAAAAAIlgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABgAAAABwAAAAcZRJz7UdERUYAAAGcAAAAHQAAACAAWwAET1MvMgAAAbwAAABFAAAAYI5XZWljbWFwAAACBAAAANIAAAIK58+c7GN2dCAAAALYAAAAAgAAAAIAAAAAZnBnbQAAAtwAAAGxAAACZVO0L6dnYXNwAAAEkAAAAAgAAAAIAAAAEGdseWYAAASYAAAN2AAAFcRK/oEqaGVhZAAAEnAAAAAvAAAANgKcdUpoaGVhAAASoAAAAB4AAAAkDmwIf2htdHgAABLAAAAAhQAAALjWJAYRbG9jYQAAE0gAAABEAAAAXm+uamxtYXhwAAATjAAAACAAAAAgAUwA9G5hbWUAABOsAAABRgAAAwhGfnF3cG9zdAAAFPQAAADxAAABh0HftOFwcmVwAAAV6AAAAC4AAAAusPIrFHdlYmYAABYYAAAABgAAAAZkklFwAAAAAQAAAADMPaLPAAAAAMs+vAwAAAAAzZYVEXjaY2BkYGDgA2IJBhBgYmAEQl0gZgHzGAAGOQBgAAAAeNpjYGZ5zDiBgZWBhXUWqzEDA6M8hGa+yJDGxMDAAMJwMBeZU1BZVMzgwMD7gIGN4R+Qz6bLoAWkGJGUKDAwAgAcFgmsAAAAeNpjYGBgZoBgGQZGIMnAyALkMYL5LAwvgLQZgwKQJcbAC6RVGLQZdBnsGRYwrGW+qcClIKKgpqCvEK8kp5SoukB1l+oe1ZtqrGoOak7qIuoSDxj+/wfqB+lTZtBC0segIICh7waqvv/f/j/5/+j/3f93/p/+n/0//o/JA74HnPd/3P9w/+A95rsHbzXfyrqVecvvlvLNlzdf3BS/KaKgC3E/OYCRjQGumZEJGh4oChiAQcDAygbmsHMwcGIYwcVAZ6CIS0KOG0zJyJJmHgDRNUEQAAAAAAAAeNpdUbtOW0EQ3Q0PA4HE2CA52hSzmZDGe6EFCcTVjWJkO4XlCGk3cpGLcQEfQIFEDdqvGaChpEibBiEXSHxCPiESM2uIojQ7O7NzzpkzS8qRqnfpa89T5ySQwt0GzTb9Tki1swD3pOvrjYy0gwdabGb0ynX7/gsGm9GUO2oA5T1vKQ8ZTTuBWrSn/tH8Cob7/B/zOxi0NNP01DoJ6SEE5ptxS4PvGc26yw/6gtXhYjAwpJim4i4/plL+tzTnasuwtZHRvIMzEfnJNEBTa20Emv7UIdXzcRRLkMumsTaYmLL+JBPBhcl0VVO1zPjawV2ys+hggyrNgQfYw1Z5DB4ODyYU0rckyiwNEfZiq8QIEZMcCjnl3Mn+pED5SBLGvElKO+OGtQbGkdfAoDZPs/88m01tbx3C+FkcwXe/GUs6+MiG2hgRYjtiKYAJREJGVfmGGs+9LAbkUvvPQJSA5fGPf50ItO7YRDyXtXUOMVYIen7b3PLLirtWuc6LQndvqmqo0inN+17OvscDnh4Lw0FjwZvP+/5Kgfo8LK40aA4EQ3o3ev+iteqIq7wXPrIn07+xWgAAAAABAAH//wAPeNrlWF9sG0d6nxkOl8vharm7XHJEURS5pEiGYaSV+Ec05UhUJFmnKjlFCATFcRRXkd1WsS812iSnGkZruEJwQM8p2h7SADlH17wEqB+KoRIDbZoCB1yM5B54xtWIiyAI0jTXh+IMt7gLDu2dxPSbpeLoXN/lrX2oZe7Mzp+d+X7z/fl9g3yohhB9338LxdF9aBw10E4BoZJItsUhVwTaWBx2Bbohhtut+3GpNYxMq9V3X6OBWoeSpnVFj/SlsyODvDEyGqmONfEkPoz9A5jjmB3ASjZTwMO4EMCxSrmOudfWbbJsHquX62PVQj6bCdTC7CHmGBQvGjlGnmKs02SGFt57WTOJTr56T6NRwLU5r9lhXutRnkin+uLxeDoT9y8YOe0h1pMiprb3MnNCnSnGyAbLG3+1t1Mo4LFZmAVT5ZdzBvnWTBy2F5/tjccRiI4c9IIy5z+POCqgCmqiOSRGXTFREaW2qJeF4Qq1LaKu8AEWU664R2Ihho1WFZfEeLv1gETlHtMSKmASVSU82UYXjsO4HOPYKceitpJ1MvkCzmby/vwYB4QCPh17bb7qWKU7IpPPHag7Tu8tK0Wx7gvzTDa2+66VUjqfXo2nCVVjcd+7PEVLJBffm+RD6vS063o/kmjC84ERt+mf4xlu7H6U5vG0HfENOCf5AF0mOd45E08P8E7RmzA15e6XAAUiaBYhpQK6EEGnUAbthEETsDjtKYDd3rERK70+ZSeDpdbXcAlJGa2xwUqZxqyoTRSazQzmSc6O8VgKx5IYJIx6xwx6AXKl8ACu2KAIk7hWlXJnalXoqMNfATQiD2gU8jUfVIcBJyWgA0Z2QAIXUALK7NevYXt7G0d/sLn5g86Pt7c7N699HQ8GqaL9E1smJKjHDJP9kAYV+qFqGsQOK4SQ44S9p1MN0x5Vp0aw8zOVqotE8VPDMCKU+slXg1TtfKpFmMrIf17C9rXNzWudH39bfh1q2O4wk6rqC4pJO7eUkKqHuV9TXqf0isKIxcKKogWxRYgeeEFhWsToURVCqRLAthpSYRGq9iidmxR2SRkDfCcA35KH7wya7OIrUp6l+UG7ZveBFrbRKoF2sXbrCGhXyQalCvs9m0tBlaGuft0Ve6lzSeyVYxPY00FZ5ks4k98vFehXZBmdABEtALUr9k0A9da1TTwymHw/Wcj1LyRzeajlcvDI55ILycEC1AbvitPZZK7Q94Ec+0HCG5v3ZnnzC/2ebn0he/a27Lwt0l3ZBw/InujKngPZE1/InuZfJnvF6coKKtOVTSqM3d7cbHuywVbxQ5UseS1bqWT3jmUrd5XkXHZ0NDuXrVQzyIdmP+uAPdyEPT+M1tBv7u96uS2ecEW9LR7s7v1Jb+/l9k7ZM5DyYLAkykbrK10x1kGMMrjN1+3etSXwlOIr5pVw2r/86BPwgloP1n+tWJiDvUgbgaJS5jEOJiFNo/uI9uMUeNxa1ev/fCQ41YI0mghYH9jbWKHqmdSvMqKPH7FUk9kwmpmsrltY0zlL6ImEZgRVQiKvmDrXEroBTZaFF+bPrcxMj55O50bHHQenjZFEzXHIz+4CJYlv67SHMkWlxBfh6aTFLRbX7HuNEk8NMZtFo25/Ks56QyxhOKXR5qnJCcx5ek+tpRwnVauljHAqdafuoP+l05frOnD+Bpz/ACqjRxE4QDj9PlcMQgDoHn3FO3ow4ZTRKnbPG+JCqwh2usP7QG8bgpmiB865DzRZGA0xaArQgWFrh/XAoXunPkkq5QECbh8CZVS6PIiREB0ywyDWAPRNklp1mGQzOnFWL13/g83r28fcIn6pNJirHi51Tk9fWjn7j5dWMaocfW5m9rmVSmXludnZZ49WfJc3r7/y+OOvXN9cufRA55Rbr+RyJfxi0X3i29fPwoBq9eizs9PdEqH/S5z/H65LJw6sK217AMt1vXPHpH7nuksX3zx96s1vLi19881Tp9+8uPTPmV78/d5MprdT7818+ZLdNdWDa94Ha2remhqseR/+n7K+Cjzu2fdu4Gex/eqrnZudizfe61zs/Nur+LtHXN+33CNH3N2n3SNfvrgPrZJFZdF3CYWAZWWBY4qg24o6lQqQqlY4US575KobApS2UIyWBrZktYVltHqhNuAFA49w3J0sHayvrs/Nra3Nza2TR9bm5tfW5ufWZG1uXbaTT+fWTxzp9v9Sibx9zuIFZYN+hA6hRbSOTiNRdUWxIibbYrksXFdE2mLeFccrQm+LeBmLE96WG23RMFqPwUYH262TYP4NcPeCNsRj5hQLhPrVdLGamnnYc/cRF1gzGmzMPPwYvLf0eW/kPnseAZIcKPjGytIf8MqkrzKOuS9QqAN1ito6kS6hkNV9sqz/kmtQwuAx/Hd4i9k+rhL82g8rf/JTuxBtnlufZjvq+NHfn06M9v704ug1LBL9Eye35prPHL1ffYNNr51rzp1brZ20qscXVjdq4XBtY/XYkzFihHwbkQq0PVXT9dpTq0vHR8NktbGUhK9fP7uy1PmU6KWl6emlkg58dWnlbCebfHh8+dRkzB5dmZ5dGbVik6eWiw8M8dRoM+XUipzHiFXOHmyJ5OqgoyXEFKQMgY4UUQ5hca8r0jdEqCw9rFaWpKiVSkMozeXvKUo4ATcv8JmFOq9HnAiv84AJ6UcMYOxGSccH6Qev1AvZUjKdXCi2L9z8sB8H+j+4tdUuziedga1bHyiMKqTzX/3v/wf+xu998swznxBqx3kthcmLP/qdc5h8hs4/9aOXPkOpGo/bn2ycr6xmizmMzm/gn1+9+ja4ENj3BSXufw75kYo0FEYxYM/PI+F3RdBjOH1tEXKl0hBQmizkVTdkR9BocVAaoyyzraTRYvBC261BkDIYAL3wNwSXwUMkLWHKQHKFYD1sxTxFSgdN642AYXqvos/csaMRGW5CllAaQjdbSPWiC444puOLmLKoOwVc54BSBB8wmBJd/TNMfrHyve+t+/51N6GR9ure7lubH80tndr9Sb1QrNWKhbrvHfw3nRd2z/u0Tog093Tydyd/sjvTXsTTF/o6r+GXC3VvJJzhcawrz/sLgIKFRpDocUEm+I9FxDMWo71jeDTJCEIeYYNZt2gPUCDD8rZrwsZkxmR2U6ZcEB/fOkNnzmxtnfnFP5zZIjkytfdd3CF12bL3/ae3tp4GCjSAMErhFUWn27ADFHFwyv/vewrd3v1bz66PoQ+VeX8CJZALzPsUEr2ucNqi6YpaW5RcCNse+8Y3RH9b9ButES+3E+NGKw81u8vD+zFs0680Gq3xEaiVHKjZeTinMBxHrQlN+X5oYiWI/dQwG1/IU5PkDaRK4egB2fAd5spvE4GupR9LWHiqxHIWWbByrITLViJh/fxrVgL/RWNta2Fha63xeflHuall111u5nJNWU7lsOZ70kqQFSMeN1ZIwtr9jp1I4GswdnxczvnjE/X6ia3fODgFPgFYYbSOU8pD9DqyURQJ6/bpRd1WrOuD948oiXNmrraf2q67jm876+LLnRU3u7vuuPiMz8q6bvatd3evv0Pfyg4NyW8ngU8xiEFrMgJJrgofkvYb8cgraCQH443Ab8DDS77Fop4d+2UyGYtGpCOU3LckbxGwvDzAsj8PDBdYcGRMppY5L4dMGprJ+/FlxpQAOUcVVUn2JpJQ0HNECVCNQpfJGGcG0RQt0rlMGXmRUkjUUjpJ9PV0tqmm+ztCS/bpTghcxPNEo53LMunTfVtxWwsylTKK/55F4SucQdE5Ag2UEkJDmh23uar3fEwiDBo68yyqMa5rJnhTnKa08y/MJMQIA9W2OH6DKCxKP1ZCTOUSpzrgdMz/MWgq4rUutffJp3T9+WyXzAeaWErt5c6BYewNkAju4wgySpwKeVnymM0z8qpFapa0+ayHsYcvj9Ypt5cXnYWV354yHEZ5L1dUI0SHYsxnGaRP17V4iBmK6oc0Nlo8Uqk9XihOcD5RzK3WFh+M6yoLsYjKrKDKsoTYPmJoxVySMFOlCaqnghf+em7xEZtTspFykjNZnVsRltjIETUEOXqYqD76W5A1ayEmU/bRC3/65984UygO9EWsxECxcfX99xYkppSGFJWtUNXvpzSgEN54QuOZZHYm6aQ2JGagYMqSkkIr6H60g7ybi0ddkZLheaeRkh6nsQKJWcoQvekbpmi2W0dlqAamfsUM5UfnHuwGlMptvAHYar6mFIZ9tbxU1ZE6KFe3z4vPHn46Tsq8rBufA0pBkeo64NtHdshDNreycWFp9HCJcJ2FQUhIiFRfIGQ0ivHmZM3QqhPTyVLNAukpUYMKU7Qw0zgpTYw+cmHjaMHD7nIqnZzNGq5bYIW//F3AiQaVzPCQEe+F2BV2/7DYPMa1YiGZLBY048mmfejwoZip0N64MTScUVQfoU+/BFNd18jOQtS7vM8JQc9KXn47jO7dz2572zJCyeTG9eCDlGZEeuls76/Pv0FkedlQx2NVF+c9u3TBSMNY6ZLmz1nizUtd0sx3WdEYNoqMcKadYI7WWdCcnu9oTuhk/K7p5MIuM01GYjBiXdM68xqG0bhnPXln7jKDzM/vrmZd6bp/xVUVtVM4Ji+nYvtlHjZe7ZbexjP7pS3vrsJ4YrPdJf+3r0tutjfxIq/b99tXecN+xx6PHeI4dtWGVwzVQ9F37Aa/ah+O1jl/28bRt+9Kls80utP2f4d4Az4B82B+Q07qzm3A1+UqV0HXD/wbRf8N1zUKdXjaY2BkYGAAYjln2+3x/DZfGeQ5GEDg7DRRQQT9/x+HLZsukMvBwAQSBQD0DQivAHjaY2BkYGDT/X+NgYGjigEIOGwZGBlQgR4ATroDAAAAeNpjYIAA5hcMDEwrGRhYgGxWFgZTtioGRbYyBhe2DAZbMAayQXJgtiWDIrMYkK0L1AelmfgZGBi7gZgdghmOAmkbIB0O1QPFLFUMthxAzLacIQYkD9LDtgZojzaDNlsaED9miAOaJ8+2kCGKbSlDEpsGgyzbRAZzthoGXbgZQGMBSGIW/AAAAHjaY2BAAg2MbIzbmEyY+piDgLCPhQ0HdGKpY9nF8oXViLUNBNnc2Baxa7CnsBdxcHCYcZziTOH8x5XCdYvrEQDkfQ7nAAEAAAAuAGsABgAAAAAAAgABAAIAFgAAAQAAhQAAAAB42r2QzS4DURTHf9MWrUxILLoQkVmyqdFKSHdCLKxERDc2bY1q9CtmalJP4EE8hZUlHsEDeAoL/7lz0TaNpZzcc37n8557gWWeyOLkCkBPJ2UHV17KGZa4t5xljQfLOfGj5TlWebY8r953ywsc82E5T9HxLRfER5YX6TkXll3KzpvlFVzn0/ILxUze8it+Zp0D+gwYcUubFtdEeGzQZFO2jM+2tEdDFR6HqgqIRTVVdwjV26Mkf19eR/Z3Smi8QDaQvZO+VOWJ8k1l+4qfKtZiqL66KtIdQqrqG6+a9r2pvnMzP1RFsounfUvaOpHxrskJbaPrOpF669osoGum3SjW5+qPt86Oz47+798mmUj3VdmSxEZKyqRz44mpTdnuxK/UVNXQy5N89POPZ5o6NDsMNCeJ7hm9q1vK7EhXJN+vqXwByR9zOwAAeNptz1lOwzAQBuD505KQlpay7+sBkJ02LTxWKr1HmjjBUggiJBXn4Bq8wQHBiYc3RrI/e8Ye2eRQGz8ZpfRf3JkBcuBQh1zyaEBDGtEtOuhiAy48bMJHD31sYYAhtjHCDnaxR1/0TZ/YxwF94BBHOMYJTnGGc1zgEle4xo1XF1oIsbDOBWv348VDY2AOsJIN2DE7YUN2ys7Ye/av39wqua+UvVRndamS6O3JpoKlNVz21Wut11Guilj5qc5zlaxe3r2q1FFWVtak8HWxXtWmWDWrWJdxrtoOUxG6qXo297vN1OZmcsK2D3s0H/wFUVtWegAAALgB/4WwAY0AS7AIUFixAQGOWbFGBitYIbAQWUuwFFJYIbCAWR2wBitcWFmwFCsAAAABUXBkkQAA") format("woff");
}

/*  ------------------------------------------------------ 
                    LATEST QUESTIONS STYLE                 
    ------------------------------------------------------ */

.BVLQWidgetCol {margin: 0 auto 50px; background-color: #fff; width: 250px;}

.BVLQWidgetAlign {padding: 10px; text-align: left;}

.BVLQHeaderTitle {margin-top: 0; font-size: 1.2em;}
.BVLQHeaderSubTitle {margin: 0 0 3px; font-size: 0.75em; font-weight: normal; color: #999;}
.BVLQQuestionAndAnswerCount {margin-bottom: 25px; font-size: 0.75em; color: #999;}
.BVLQHeaderTertiaryTitle {padding-bottom: 5px; border-bottom: 1px solid #ddd;}
.BVLQViewQuestionsContent {border-bottom: 1px solid #ddd; padding: 15px 0;}

.BVLQQuestionBadge {font-size: 0.65em; color: #666; margin-bottom: 3px; text-transform: uppercase;}
.BVLQQuestionSummary {font-size: 1em; font-weight: normal; margin-top: 0;}

.BVLQWrittenBy, .BVLQNickname, .BVLQLocation, .BVLQSignatureSubject {display: inline;}
.BVLQSignature {margin-bottom: 15px; font-size: 0.75em; color: #999;}

.BVLQQuestionAnswersCount {font-size: 0.75em;}

.BVLQLinkDiv {padding-right: 5px; margin-right: 5px; border-right: 1px solid #ddd;}

.BVLQPager {margin-top: 5px; font-size: 0.75em; text-align: right;}
	.BVLQNextPage {text-transform: capitalize;}
	.BVLQPagerArrows {display: none;}

.BVLQFooter {text-align: center; margin-top: 20px; clear: both;}
	.BVLQFooter a, .BVLQFooter a:hover {display: block; border-radius: 5px; background-color: #333; padding: 6px 12px; color: #fff; font-size: 0.9em; font-weight: bold; text-decoration: none;}


/* FULL WIDTH DISPLAY */
.BVLQWidgetHoriz {margin: 0 auto 50px; background-color: #fff; width: 980px;}

.BVLQWidgetHoriz .BVLQHeader {float: left; width: 30%; margin-right: 5%;}

.BVLQWidgetHoriz .BVLQFooter {text-align: left;}
.BVLQWidgetHoriz .BVLQFooter a, .BVLQWidgetHoriz .BVLQFooter a:hover {display: inline;}

.BVLQWidgetHoriz .BVLQMainView {float: left; width: 65%;}

.BVLQWidgetHorizLeft .BVLQHeader {float: right; margin: 0 0 0 5%;}


/* FULL WIDTH 3 COLUMN DISPLAY */
.BVLQWidgetThreeCol {margin: 0 auto 50px; width: 980px;}

.BVLQWidgetThreeCol .BVLQWidgetWrapperWidth {width: 30%; margin-right: 5%; background-color: #fff; float: left;}
.BVLQWidgetThreeCol .BVLQWidgetWrapperWidthLast {margin-right: 0;}

.BVLQWidgetThreeCol .BVLQQuestionSubjectImage {text-align: center;}



.BVLQWidgetCol {margin: 0 auto 50px; background-color: #fff; width: 250px;}
.BVLQWidgetCol .BVLQQuestionSubjectImage {display: none;}

.BVLQWidgetAlign {padding: 10px; text-align: left;}

.BVLQHeaderTitle {margin-top: 0; font-size: 1.2em;}
.BVLQHeaderSubTitle {margin: 0 0 3px; font-size: 0.75em; font-weight: normal; color: #999;}
.BVLQQuestionAndAnswerCount {margin-bottom: 25px; font-size: 0.75em; color: #999;}
.BVLQHeaderTertiaryTitle {padding-bottom: 5px; border-bottom: 1px solid #ddd;}
.BVLQViewQuestionsContent {border-bottom: 1px solid #ddd; padding: 15px 0;}

.BVLQQuestionBadge {font-size: 0.65em; color: #666; margin-bottom: 3px; text-transform: uppercase;}
.BVLQQuestionSummary {font-size: 1em; font-weight: normal; margin-top: 0;}

.BVLQWrittenBy, .BVLQNickname, .BVLQLocation, .BVLQSignatureSubject {display: inline;}
.BVLQSignature {margin-bottom: 15px; font-size: 0.75em; color: #999;}

.BVLQQuestionAnswersCount {font-size: 0.75em;}

.BVLQLinkDiv {padding-right: 5px; margin-right: 5px; border-right: 1px solid #ddd;}

.BVLQPager {margin-top: 5px; font-size: 0.75em; text-align: right;}
    .BVLQNextPage {text-transform: capitalize;}
    .BVLQPagerArrows {display: none;}

.BVLQFooter {text-align: center; margin-top: 20px; clear: both;}
    .BVLQFooter a, .BVLQFooter a:hover {display: block; border-radius: 5px; background-color: #333; padding: 6px 12px; color: #fff; font-size: 0.9em; font-weight: bold; text-decoration: none;}


/* FULL WIDTH DISPLAY */
.BVLQWidgetHoriz {margin: 0 auto 50px; background-color: #fff; width: 980px;}

.BVLQWidgetHoriz .BVLQHeader {float: left; width: 30%; margin-right: 5%;}

.BVLQWidgetHoriz .BVLQFooter {text-align: left;}
.BVLQWidgetHoriz .BVLQFooter a, .BVLQWidgetHoriz .BVLQFooter a:hover {display: inline;}

.BVLQWidgetHoriz .BVLQMainView {float: left; width: 65%;}

.BVLQWidgetHorizLeft .BVLQHeader {float: right; margin: 0 0 0 5%;}


/* FULL WIDTH 3 COLUMN DISPLAY */
.BVLQWidgetThreeCol {margin: 0 auto 50px; width: 980px;}

.BVLQWidgetThreeCol .BVLQWidgetWrapperWidth {width: 30%; margin-right: 5%; background-color: #fff; float: left;}
.BVLQWidgetThreeCol .BVLQWidgetWrapperWidthLast {margin-right: 0;}

.BVLQWidgetThreeCol .BVLQQuestionSubjectImage {text-align: center;}
