/* =Basic Styles
    ------------------------------------------------------ */

/*Images*/
.BVFeaturedReviewContainer img {display: block; max-width: 100%; width: 100%;}

/*Wrapper*/
.BVFRWContainer {background: #fff; border: 1px solid #ccc;}

/*ProductImage*/
.BVFRWProductImage {border-bottom: 1px solid #ccc;}

/*Header*/
.BVFRWContainerHeader {margin-bottom: 10px; padding: 0 10px; font-size: 16px;}
.BVFRWReviewTitle {margin-top: 20px; font-weight: bold;}
.BVFRWReviewTitle a {color: #333; text-decoration: none;}
.BVFRWReviewBy {font-style: italic;}
.BVFRWInlineReviewAuthor {margin-top: 6px; color: #333; font-size: 12px;}
.BVFRWInlineReviewAuthor .BVFRWReviewBy {margin-right: 4px;}

/*Typo*/
h2 {display: block; clear: both;}
h3 {border-bottom: none; color: #666; font-weight: bold;}
p {color: #aeaeae;}

/*MainContent*/
.BVFRWContent {padding: 0 10px; color: #666; font-size: 14px;}
.BVFRWReviewText {margin-top: 10px; line-height: 1.2;}
.BVFRWproductName {margin-top: 6px; color: #333; font-size: 12px; font-weight: bold;}
a.BVFRWReadMore {background: #333; display: block; height: 30px; padding: 0 10px; border-radius: 5px; margin-top: 10px; margin-bottom: 20px; color: #fff; font-size: 14px; font-weight: bold; line-height: 30px; text-align: center; text-decoration: none;}
a.BVFRWReadMore:hover {background: #999; text-decoration: underline;}
.BVFWRatingBackground {display: block; color: #AAA;}
.BVFWRatingWrapper {display: inline-block; position: relative; font-size: 30px; line-height: 0;}
.BVFRWRating {display: block; top: 0; position: absolute; color: #000;}


/*ClientContent*/
.clientSampleContainerLeftCol {margin-right: 30px; width: 366px; float: left;}
.clientContent {width: 330px; font-size: 14px; float: left;}
.clientRow {display: block; margin: 24px 0; overflow: hidden; clear: both;}
.ClientHero {height: 320px; margin: 0 auto; padding: 20px 0; width: 960px;}
.productleftsmall {float: left; width: 366px; margin-right: 30px;}
.productrightsmall {float: right; width: 366px; margin-left: 30px; overflow: hidden; position: relative;}
.productrightsmall .BVFRWContainerHeader, .productrightsmall .BVFRWContent {margin-bottom: 0; position: relative; z-index: 10; background-color: rgba(235, 231, 213, 0.7); overflow: hidden;}
.productrightsmall .BVFWRatingWrapper {margin-top: 14px;}
.productrightsmall img {position: absolute; width: 200px; z-index: 0;}
.productrightsmall .BVFRWProductImage {float: none; margin: 0; padding: 0; border: none;}

/* =OneThird
    ------------------------------------------------------ */
.BVFRoneThird .BVFeaturedReviewContainer {float: left; margin-right: 3.4%; width: 31%;}
.BVFRoneThird.last .BVFeaturedReviewContainer {margin-right: 0;}

/*ProductImage*/
.BVFRoneThird .BVFRWProductImage {display: none;}


/* =Horizontal.Left Focused on Review Title
    ------------------------------------------------------ */

/*Wrapper*/
.BVFRCHorizontalLeft .BVFRWContainer {overflow: hidden;}

/*Header*/
.BVFRCHorizontalLeft .BVFRWReviewTitle {margin-top: 10px; font-size: 18px;}

/*ProductImage*/
.BVFRCHorizontalLeft .BVFRWProductImage {border-bottom: none; border-right: 1px solid #ccc; float: left; margin-right: 10px; width: 24%;}

/*MainContent*/
.BVFRCHorizontalLeft .BVFRWReviewText {display: none;}
.BVFRCHorizontalLeft a.BVFRWReadMore {float: left; margin-bottom: 0;}
