<div class="BVFSYContainer">
	<div class="BVFSYSubjectImage">
		<img src="{{product.ImageUrl}}">
	</div>
	<div class="BVFSYContainerHeader">
		<div class="BVFSYSummary">
			<a href="{{storyDeepLink Id product.ProductPageUrl Id}}">{{Title}}</a>
		</div>
		<div class="BVFSYAuthor">
			<span class="BVFSYQuestionBy">By:</span>
			<span class="BVFSYQuestionAuthor">{{UserNickname}}</span>
		</div>
	</div>
	<div class="BVFSYContent">
		<div class="BVFSYproductName">{{product.Name}}</div>
		<div class="BVFSYStoryText">{{StoryText}}</div>
		<a class="BVFSYReadMore" href="{{storyDeepLink Id product.ProductPageUrl Id}}">Read More</a>
	</div>
</div>